<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Loda</title>
    <meta http-equiv="Content-Type"content="text/html; charset=UTF-8"/><!--css-->
    <link th:href="@{/css/bootstrap.min.css}"rel="stylesheet"/><!--js-->
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>

<h1>Đây là một trang web</h1>

<a href="/about">About</a>'
<a th:href="@{/profile}" class="btn btn-primary">Loda Profile</a>

<form method="get" action="/hello">
    <input type="input" name="name">
    <button type="submit">Submit</button>
</form>
</body>
</html>